# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
/project/*.jar
*.war
*.ear

# Eclipse, Maven, Mac, (IntelliJ) #
.classpath
.project
.settings/
.idea/
*.iml
*.iws
.DS_Store
*.sh
log/
target/
bin/

dependency-reduced-pom.xml
